<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
  </head>
  <body style="background: white">
    <h1>Hello World!</h1>
    <button id="btn">msg</button>
    <button id='newWindow'>newWindow</button>
    <script>
      const { ipcRenderer } = require("electron");
      
      document.getElementById("btn").addEventListener("click", () => {
        ipcRenderer.send("msgToMain");
      });
      document.getElementById("newWindow").addEventListener("click", () => {
        ipcRenderer.send("newWindow");
      });
    </script>
  </body>
</html>
